:root{
    font-size: 15px;
}
*{
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header{
    display: flex;
    min-height: 10vh;
    background-color: black;
    position: sticky;
    top: 0;
}
.nav{
    display: flex;
    justify-content: start;
    width: 50vw;
    padding-left: 1rem;
}
.nav a{
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}
.boton{
    color: rgb(248, 149, 0);
    padding-left: 3px;
    text-decoration: none;
}
.boton1{
    color: rgb(255, 255, 255);
    padding-left: 3px;
    text-decoration: none;
    font-weight: bold;
}
.boton1:hover{
    color: rgb(248, 149, 0);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50vw;
    padding-right: 1rem;
}

body{
    max-width: 100vw;
}
main{
    min-height: 90vh;
    background: #8e9eab;
    background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);
    background: linear-gradient(to left, #eef2f3, #8e9eab);
}
.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}
.contenedor1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
}
.portada{
    width: 825px;
    padding: 0.5rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
}
.about-img {
    width: 220px;
    height: 180px;
    padding: 0.5rem;
    border-radius: 2rem;
}
.contenedor p {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    flex: 1;
    margin: 0;
}
.contenedor h1{
    padding: 0.5rem;
}
.contenedor-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.5rem;
}
.contenedor-redes1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
}

/* SCHEDULE */
.main-schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
h1 {
    text-align: center;
}
table, tr, th, td {
    color: black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
}
.detalles {
    height: 4rem;
    width: 8rem;
}
.totales {
    width: 8rem;
}
table {
    text-align: center;
}
thead {
    background-color: rgb(241, 123, 12);  
}
tbody {
    background-color: white;
}
/* SCHEDULE */

/* BENEFITS-AND-TIPS */
.lista{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.titulo-lista{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}
.titulo-lista2{
    margin: 1rem;
}
.seccion{
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 2rem;
    min-height: 10vh;
}
ol{
    margin-left: 2rem;
    padding-left: 2rem;
}
ul{
    margin-left: 2rem;
    padding-left: 2rem;
}
/* BENEFITS-AND-TIPS */

/* STYLE */
.style2{
    display: none;
}
/* STYLE */